# VS Code
.vscode/

# Ignore Local folder
media/
venv/
logs/
backups/
temp/
staticfiles/

# Environment files
.env

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite database files
db.sqlite3